/* ========== HEADER ========== */
.main-title-container {
    display: flex;
    position: absolute;
    left: 30px;
    gap: 10px;
    padding-left: 10px;
    border-left: 3px darkgray solid;
    border-radius: 3px;
}

.main-title {
    color: var(--color-white);
    font-family: var(--font-poppins);
    font-size: var(--font-xxl);
}

.main-title-icon {
    width: 35px;
}

/* ========== LAYOUTS ========== */
.header-layout-1,
.aside-layout-1,
.main-layout-1,
.footer-layout-1 {
    display: flex;
    background-color: var(--primary-color);
    border: 2px solid rgba(139, 148, 158, 0.15);
}

.body-layout-1 {
    display: flex;
    flex-wrap: wrap;
}

.header-layout-1 {
    flex: 1 1 100vw;
    min-height: 100px;
    border-bottom: 3px solid rgba(139, 148, 158, 0.15);
}

.aside-layout-1 {
    flex: 1 1 300px;
}


.main-layout-1 {
    flex: 20 1 500px;
    min-height: calc(100vh - 224px);
}

.footer-layout-1 {
    flex: 1 1 100vw;
    min-height: 100px;
    border-top: 0.1px solid rgba(255, 255, 255, 0.30);
;
}

/* Mobile - Tablet */
@media (max-width: 1024px) {

    .header-layout-1 {
        min-height: 50px;
    }

    .main-layout-1 {
        min-height: calc(100vh - 174px);
    }

    .aside-layout-1 {
        display: none;

    }

    .footer-layout-1 {}

}

/* ========== BOUNCE HEADER ========== */
#bounce-login {
    font-family: var(--font-poppins);
    position: absolute;
    min-height: 3rem;
    max-height: 3rem;
    padding-top: 10px;
    padding-left: 43px;
    min-width: 10rem;
    right: 3%;

    background-color: var(--primary-color);
    transition: background-color var(--transition-slow);
    color: white;

    border-radius: 15px;
    transition: border-color 0.3s ease;
    border: 2px solid rgba(139, 148, 158, 0.15);
}

#bounce-login:hover {
    border: 2px solid rgba(139, 148, 158, 0.50);
    background-color: rgba(139, 148, 158, 0.15);
}


#bounce-profile {
    display: flex;
    position: absolute;
    width: 55px;
    max-width: 55px;
    right: 30px;
    height: 55px;
    max-height: 55px;
    border-radius: 15px;
    border: 2px solid rgba(139, 148, 158, 0.15);

    align-items: center;
    justify-content: center;

    font-weight: 600;
    color: white;
    font-family: 'Poppins', sans-serif;
}

/* ========== ASIDE LEFT ========== */
.aside-left-container {
    margin-top: 5%;
    border-top: 2px solid rgba(139, 148, 158, 0.15);
    display: inline-grid;
    left: 10px;
}

.aside-links {
    color: var(--color-white);
    font-family: var(--font-poppins);
    font-size: var(--font-xl);
    align-content: center;
    margin-top: 10px;
    padding-left: 10px;
    padding-right: 7vw;
    min-height: 1rem;
    border-radius: 3px;
}

/* ========== ASIDE CONTENT ========== */
.aside-links-img {
    position: relative;
    top: 3px;
    width: var(--height-icon-sm);
}

.aside-links:hover {
    cursor: pointer;
    background-color: rgba(139, 148, 158, 0.08);
}

.aside-text-decoration,
.aside-text-decoration:hover,
.aside-text-decoration:active,
.aside-text-decoration:visited,
.aside-text-decoration:focus {
  color: inherit;
  text-decoration: none;
}

.aside-links-selected {
    border-left: 2px darkgray solid;
}

/* ========== ASIDE RIGHT ========== */
.aside-right-container {
  position: relative;
  right: 10px;
  bottom: 350px;
}

.aside-links-right {
  color: var(--color-white);
  font-family: var(--font-poppins);
  font-size: var(--font-xxl);
  margin-right: 10px;
  align-content: center;
  margin-top: 10px;
  padding: 15px;
  border-radius: var(--border-radius-xl);
  transition:
    background-color 0.25s ease,
    color 0.25s ease,
    transform var(--transition-fast);
}

/* ========== MODALS ========== */
.modal-sm-horizontal {
    z-index: 999;
    display: flex;
    position: absolute;
    right: 65px;
    min-width: 10rem;
    width: 15rem;
    margin-top: 10px;

    background-color: var(--primary-color);
    border-radius: 15px;
    border: 1px solid rgba(139, 148, 158, 0.15);
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
}

.modal-xl-horizontal {
    z-index: 999;
    display: flex;
    position: relative;
    min-width: 10rem;
    width: 60%;
    height: 90%;
    max-height: 90vh;
    margin-top: 10px;
    overflow: hidden;

    background-color: var(--primary-color);
    border-radius: 15px;
    border: 1px solid rgba(139, 148, 158, 0.15);
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
}

.buttons-info {
    font-family: var(--font-poppins);
    display: flex;
    font-size: var(--font-sm);
    color: white;
    width: 100%;

    padding: 10px;
    background-color: transparent;
    min-height: 10px;
    border: none;
    border-radius: 15px;
}

.images-info {
    width: 20px;
    margin-right: 10px;
    padding-bottom: 10px;
}

.modal-sm-vertical {
    z-index: 10;
    position: absolute;
    background-color: var(--color-black);
    padding: 5%;
    padding-top: 10%;
    padding-bottom: 10%;
    border-radius: var(--border-radius-lg);
    border: 2px var(--color-gray) solid;
}

/* ========== BUTTONS ========== */


.button-sm {
    margin-top: 10%;
    width: 16em;
    height: 3rem;

    border-radius: 15px;

    transition: all 0.70s ease; /* Suaviza a entrada do brilho */
    transition: background-color 0.8 ease;
}

.button-md {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1000;
    font-family: var(--font-poppins);
    padding: 1%;
    padding-left: 20%;
    padding-right: 20%;
    color: var(--color-white);
    background-color: var(--color-black);
    border-radius: var(--border-radius-lg);
    border: 2px var(--color-gray) solid;
    transition: background-color var(--transition-slow);
}

/* ========== CARDS ========== */
/* Post Card */
.card {
    display: flex;
    position: relative;
    flex-direction: column;
    background-color: var(--primary-color);
    font-family: 'Poppins', sans-serif;
    color: white;
    border: 2px solid rgba(139, 148, 158, 0.15);
    min-width: 100%;
    max-width: 100%;
    margin-top: 2rem;
    padding-bottom: 30px;
    border-radius: 15px;
    transition: border-color 0.3s ease;
    transition: transform 0.3s ease;
}

.card:hover {
    transform: translateY(-4px);
}

.top-card {
    display: flex;
    align-items: center;
    margin-top: 40px;
    gap: 10px;
    margin-left: 110px;
}

.mid-card {
    display: flex;
    flex-direction: column;
    word-break: break-word;
    margin-left: 110px;
    margin-right: 110px;

}

.avatar {
    display: flex;
    position: absolute;
    top: 30px;
    width: 65px;
    max-width: 80px;
    left: 30px;
    height: 65px;
    border-radius: 15px;

    align-items: center;
    justify-content: center;

    font-weight: 600;
    color: white;
    font-family: 'Poppins', sans-serif;
}


.author {
    display: flex;
    position: relative;
    font-size: 20px;
}

.title {
    display: flex;
    position: relative;
    overflow-wrap: break-word;
    font-size: 25px;

}

.description {
    position: relative;
    display: flex;
    font-size: 20px;
    overflow-wrap: break-word;
    opacity: 50%;
}

.date {
    opacity: 50%;
}

.category {
    opacity: 50%;
}

.info {
    width: 40px;
    height: 40px;
    padding-top: 8px;
    padding-left: 7px;
    position: absolute;
    right: 15px;
    top: 25px;
    border-radius: 50%;
}

/* ========== FORMS ========== */

/* Form Small */

.form-auth {
    display: flex;
    margin-bottom: 50px;
}

.fieldset-small-form {
    border: none;
}

.form-auth-fields {
    position: relative;
    display: flex;
    flex-direction: column;
    margin-top: 20px;
    gap: 10px;
}

.labels-small-form {
    color: white;
    font-family: var(--font-poppins);
}

.inputs-small-form {
    background-color: var(--secondary-color);
    color: white;
    border: 2px solid rgba(139, 148, 158, 0.15);
    border-radius: 10px;
    outline: none;
    font-family: var(--font-poppins);
    background-image: url("static/img/mail.svg");

    min-width: 370px;
    min-height: 60px;
    padding-left: 50px;

    transition: all 0.70s ease;
    transition:
        border-color 0.25s ease,
        box-shadow 0.25s ease,
        transform 0.2s ease;
}

.submit-small-form {
    background-color: white;
    color: black;
    transition: all 0.70s ease;

}

.submit-small-form:hover {
    cursor: pointer;
    opacity: 50%;
}

/* Form Medium */

.form-post-create {
    position: relative;
    width: 90%;
    overflow-y: auto;
}

.form-post-create-title {
    color: white;
    display: flex;
    position: relative;
    font-family: var(--font-poppins);
    font-size: 20px;
    font-weight: bold;
    margin: 2%;
    margin-left: 5%;
}

.form-post-create-div-title {
    position: relative;
    display: flex;
    flex-direction: column;
    align-content: center;
    width: 100%;
    border-bottom: 2px solid rgba(139, 148, 158, 0.15);    
}

.button-close-post {
    position: absolute;
    top: 27px;
    right: 25px;
    width: 30px;
    height: 30px;
    background-image: url(../img/x.svg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 25px;
    background-color: transparent;
    border: none;
    border-radius: 50%;
}





.fieldset-medium-form {
    border: none;
}

.fields-medium-form {
    position: relative;
    display: flex;
    flex-direction: column;
    margin-top: 20px;
    gap: 10px;
}

.labels-medium-form {
    color: white;
    font-family: var(--font-poppins);
}

.inputs-medium-form {
    background-color: var(--secondary-color);
    color: white;
    border: 2px solid rgba(139, 148, 158, 0.15);
    border-radius: 10px;
    outline: none;
    font-family: var(--font-poppins);
    background-image: url("static/img/mail.svg");

    width: 100%;
    min-height: 60px;
    box-sizing: border-box;
    padding-left: 20px;

    transition: all 0.70s ease;
    transition:
        border-color 0.25s ease,
        box-shadow 0.25s ease,
        transform 0.2s ease;
}

.inputs-medium-form::placeholder {
    
}

.selects-medium-form {
    
}

.selects-medium-form:hover {
    cursor: pointer;
}

.submit-medium-form {
    background-color: white;
    color: black;
    transition: all 0.70s ease;
}

.submit-medium-form:hover {
    cursor: pointer;
    opacity: 50%;
}

/* ========== LOADER ========== */
.loader {
  position: absolute;
  z-index: 9999;
  width: 54px;
  height: 54px;
  border-radius: var(--border-radius-sm);
}

.loader div {
  z-index: 1;
  width: 8%;
  height: 24%;
  background: var(--color-gray);
  position: absolute;
  left: 104dvh;
  top: 50dvh;
  opacity: 0;
  border-radius: var(--border-radius-xl);
  box-shadow: var(--shadow-blur);
  animation: fade458 1s linear infinite;
}

.loader .bar1 { transform: rotate(0deg) translate(0, -130%); animation-delay: 0s; }
.loader .bar2 { transform: rotate(30deg) translate(0, -130%); animation-delay: -1.1s; }
.loader .bar3 { transform: rotate(60deg) translate(0, -130%); animation-delay: -1s; }
.loader .bar4 { transform: rotate(90deg) translate(0, -130%); animation-delay: -0.9s; }
.loader .bar5 { transform: rotate(120deg) translate(0, -130%); animation-delay: -0.8s; }
.loader .bar6 { transform: rotate(150deg) translate(0, -130%); animation-delay: -0.7s; }
.loader .bar7 { transform: rotate(180deg) translate(0, -130%); animation-delay: -0.6s; }
.loader .bar8 { transform: rotate(210deg) translate(0, -130%); animation-delay: -0.5s; }
.loader .bar9 { transform: rotate(240deg) translate(0, -130%); animation-delay: -0.4s; }
.loader .bar10 { transform: rotate(270deg) translate(0, -130%); animation-delay: -0.3s; }
.loader .bar11 { transform: rotate(300deg) translate(0, -130%); animation-delay: -0.2s; }
.loader .bar12 { transform: rotate(330deg) translate(0, -130%); animation-delay: -0.1s; }
