/* ========== POSTS.html ========== */
#main-title {
    position: relative;
}

#button-link-create-post {
  font-family: 'Poppins', sans-serif;
  background-color: black;
  border: 2px gray solid;
  color: white;
  padding: 15px;
  border-radius: 30px;
  margin-left: 35%;
  text-decoration: none;
  text-align: center;
  justify-content: center;
  width: 150px;
  transition: opacity 0.2s ease;
}

#container-posts {
    padding: 3rem;
    background-color: transparent;
    flex-direction: column;
    border: none;
}

#container-info {
    position: absolute;
    top: 21%;
    left: 50%;

}

/* ========== POSTS-HUB.html ========== */
.container-center-post {
    position: relative;
    background-color: black;
    padding: 1dvh;
}

.container-center-post-create {
    padding: 40dvh;
    background-color: black;
}

.container-text {
    top: 0px;
    left: 20dvh;
    position: absolute;
    color: white;
    font-size: 40px;
    font-family: 'Poppins', sans-serif;
}

.forms-post-position {
    position: absolute;
    left: 20px;
    top: 150px;
}

.form-post-descripton {
    padding-top: 15px;
    padding-bottom: 100px;
    text-align: left;
    overflow-wrap: break-word;
}

/* ========== AUTH.html ========== */
.auth-title {
    color: white;
    font-family: var(--font-poppins);
    font-size: 30px;
}

.auth-text {
    color: var(--color-white);
    font-family: var(--font-poppins);
}

.form-checkbox-field {
   gap: 10px;
   margin-top: 30px;
   margin-left: 10px;
}

.buttons-redirect-auth {
    color: white;
    cursor: pointer;
    font-family: var(--font-poppins);
}

.buttons-redirect-auth:hover {
    text-decoration: underline;
}

.icon-auth {
    position: absolute;
    width: 20px;
    top: 55px;
    left: 15px;

}

.button-eye {
    position: absolute;
    min-width: 40px;
    min-height: 40px;
    top: 45px;
    right: 15px;
    background-image: url(../img/eye.svg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 25px;
    background-color: transparent;
    border-radius: 50%;
    border: none;
}

