  #main-title {
      font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
      margin-top: auto;
      margin: 0%;
      font-size: 60px;
  }

  .center {
      display: flex;
      padding: 50px;
  }

  .blocks-info {
      font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
      text-decoration: wavy;
      text-align: center;
      color: aliceblue;
      background-color: black;
      border-radius: 20px;
      width: 350px;
      height: 300px;
      margin-left: 10px;
      margin-right: 10px;
  }

  .blocks-json {
      font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
      text-decoration: wavy;
      text-align: center;
      color: aliceblue;
      background-color: black;
      border-radius: 20px;
      width: 700px;
      height: 440px;
      margin-left: 10px;
      margin-right: 10px;
  }