/* ========== TEXT DECORATION ========== */
.text-decoration {
    text-decoration: none;
}

.text-decoration-show:hover {
    text-decoration: underline;
}

.text-default {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1000;
    color: white;
    font-family: var(--font-poppins);
    font-size: var(--font-lg);
    min-width: 60%;
    max-width: 60%;

    overflow-wrap: break-word;
}

.text-size-lg {
    font-size: 25px;
}

.text-exception {
    font-family: 'Poppins', sans-serif;
    font-size: 30px;
    position: absolute;
    color: white;
    top: 20dvh;
    text-align: justify;
    max-width: 25%;
    overflow-wrap: break-word;
}

/* ========== SELECTION EFFECTS ========== */
.selection:hover {
    cursor: pointer;
    background-color: rgba(139, 148, 158, 0.10);
}

.selection-border:hover {
    border: 2px solid rgba(139, 148, 158, 0.50);

    /*
    Utilizar nos Elementos
    transition: border-color 0.3s ease;
     */
}

.selection-focus:focus {
    background-color: rgba(139, 148, 158, 0.10);
    border: 2px solid rgba(139, 148, 158, 0.50);
    box-shadow: 0 0 0 1px rgba(255, 255, 255, 0.25);
    transform: translateY(-1px);
}

.selection-color:hover {
  color: var(--color-black);
  background-color: var(--color-white);
  cursor: pointer;
  border-color: var(--color-white);
  box-shadow: 0 0 0 1px rgba(255, 255, 255, 0.25);
}

.border-incorret {
    border-color: red;
}

/* ========== ANIMATIONS ========== */
.animation-scale-hover:hover {
  transform: scale(1.05);
}

.modal-animation-close {
    opacity: 0;
    transition: opacity 0.5s ease, visibility 0.5s ease;
}

.modal-animation-open {
  opacity: 1;
}

.dropdown {
    animation: popIn 0.30s ease;
}

.closing {
    animation: popOut 0.25s ease forwards;
}

/* Layout Right */
.slide-in {
    animation: slideInFromRight 0.5s ease-out forwards;
}

.slide-out {
    animation: slideOutToRight 0.5s ease-in forwards;
}

.logo {
    width: 300px; /* Ajuste o tamanho conforme necessário */
    animation: breathe 2s ease-in-out infinite;
}

@keyframes breathe {
    0% {
        opacity: 0.50;
        transform: scale(1);
    }
    50% {
        opacity: 1;
        transform: scale(1.05); /* Expande suavemente */
    }
    100% {
        opacity: 0.50;
        transform: scale(1);
    }
}

/* ========== KEYFRAMES ========== */
/* Loader */
@keyframes fade458 {
  from {
    opacity: 1;
  }

  to {
    opacity: 0.25;
  }
}

@keyframes pulsar {
    0% {
      box-shadow: 0 0 10px 0px rgba(255, 255, 255, 0.5);
    }
    50% {
      box-shadow: 0 0 30px 10px rgba(255, 255, 255, 0.9);
    }
    100% {
      box-shadow: 0 0 10px 0px rgba(255, 255, 255, 0.5);
    }
  }

/* Layout - Right */
@keyframes slideInFromRight {
    from {
        transform: translateX(100%);
        opacity: 0;
    }
    to {
        transform: translateX(0);
        opacity: 1;
    }
}

@keyframes slideOutToRight {
    from {
        transform: translateX(0);
        opacity: 1;
    }
    to {
        transform: translateX(100%);
        opacity: 0;
    }
}

/* Dropdown - Modal */
@keyframes popIn {
    from {
        opacity: 0;
        transform: scale(0.95) translateY(-6px);
    }
    to {
        opacity: 1;
        transform: scale(1) translateY(0);
    }
}

@keyframes popOut {
    from {
        opacity: 1;
        transform: scale(1) translateY(0);
    }
    to {
        opacity: 0;
        transform: scale(0.95) translateY(-6px);
    }
}